body {
  margin: 0;
}

.grid {
  position: absolute;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  grid-template-rows: 3fr 4fr 3fr;
  grid-gap: 1em;
}

/***** extra styles */
h1 {
  font: 7vw Georgia;
  grid-area: 2/2/3/4;
  margin: auto 0 0;
  /*   width: 50vw; */
}
p {
  grid-area: 3/2/4/3;
  text-align: right;
  font: 1.7em Georgia;
  margin: 0;
}
/************      */

.grid-view div {
  border: 1px dotted red;
  z-index: 999;
}

.grid-view {
  grid-column: 1 / span all;
  grid-row: 1 / span all;
}
