h1 {
    padding-left: 20px;
}

p {
    padding: 20px;
}

#root > div > div {
    padding: 10px;
    border-radius: 7px;
    background-color: coral;
    color: beige;
    margin: 10px;
}

#root > div {
    height: auto;
    background-color: darkolivegreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    grid-gap: 10px;
    margin: 20px;
    width: 700px;
    justify-items: stretch;
    box-shadow: 0 0 10px black;

}

.start {
    justify-self: start;
  }

.center {
    justify-self: center;
  }

.end {
    justify-self: end;
  }

